extends layout
block content
  h1= title
  form(id='CostumeForm', action="/resource/costumes", method="POST")
    .form-group
      label.costumeAttr(for='costume_type') Costume type
      input#costume_type(type='text', name='costume_type')
    .form-group
      label.costumeAttr(for='size') Costume size
      input#size(type='text', name='size')
    .form-group
      label.costumeAttr(for='cost') Costume cost
      input#cost(type='number', name='cost')
    input(type="submit")
  script.
    document.forms.CostumeForm.addEventListener('submit', function(event) {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then(function(resp) {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then(function(body) {
        alert("Save succeeded");
        // TODO handle body
      }).catch(function(error) {
        // TODO handle error
        alert("Save failed " + error);
      });
    });
